$mediacolor: lavender;

$mediafontsize: 24px;



.logo{

    width: 1250px;

    height: 500px;

}



@media(max-width: 600px){

    .logo{

        width: 300px;

        height: 300px;

        margin: 50px;

    }

    h1{

        color: $mediacolor;

        font-size: $mediafontsize;

        background-color:aquamarine;

        text-shadow: 5px 5px solid red;

    }

}
