#inp-form{
    margin: auto;
    border: 1px solid black;
    width: 80%;
    padding: 20px;
    background-color: lightyellow;
}
#inp-form label{
    display: inline-block;
    width: 200px;
}

#submit{
    background-color: aquamarine;
    padding: 3px;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
}
